@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --white: #ffffff;
  --black: #343434;
  --gray: #f5f5f5;
  --gray-dark: #e5e5e5;
  --theme: #9012ff;
  --themes: #F1612A;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

body {
  color: var(--black);
  background: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.flexed {
  display: flex;
}

.grided {
  display: grid;
}

.flexed-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grided-center {
  display: grid;
  place-items: center;
}

.flexed-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* login page start */
.login-page {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5rem;
  
}
.login-page-section{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 5rem; */
}
.login-content h1{
  font-size: 50px;
  font-weight: 400;
  
}
.login-content p{
  font-size: 18px;
  color: #7D88A1;
}
.input-field{
  height: 40px;
  margin-top: .5rem;
}
.ant-input:focus{
  border-color: var(--themes);
}
.ant-input:hover{
  border-color:var(--themes);
  box-shadow: none;
}
.buttons{
  height: 40px;
  background-color: var(--themes);
  font-size: 18px;
}
:where(.css-dev-only-do-not-override-nnuwmp).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
  background-color: var(--themes);
}

/* login page end */